.actors {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.actor {
  padding-right: 20px;
}

@media (max-width: 800px) {
  .actors {
    flex-wrap: wrap;
  }
}

form {
  padding: 5px;
  align-items: center;
}

.actor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.actor-name {
  text-align: center;
}

.actor-photo {
  margin-top: 10px;
}

input {
  margin-right: 10px;
}

button {
  padding: 5px;
  margin-top: 5px;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 10px;
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution img {
  height: 30px;
}

body {
  padding: 0;
  margin: 0;
}